{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "chrome": "68",
          "firefox": "62",
          "safari": "11",
          "ie": "11",
          "edge": "38"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": []
}
