{
  "name": "<%= name %>",
  "version": "<%= version %>",
  "description": "The Kyper component `<%= identifier %>` exported individually",
  "license": "MIT",
  "author": "MX",
  "repository": "mx-enabled/kyper-react",
  "peerDependencies": {
    "react": "^16.12.0",
    "react-dom": "^16.12.0"
  }
}